@page "/get-all-todos"

@inject ITodoClientService _todoClientService 
@attribute [Authorize]


<h3>Task Flow</h3>

@if (todos == null)
{
<p><em>Loading...</em></p>
}
else
{
<ul>
    @foreach (var todo in todos)
    {
    <li>@todo.Id - @todo.Title - @(todo.IsComplete ? "✅" : "❌")</li>
    }
</ul>
}

@code {
private List<TodoItemDTO>? todos;

    protected override async Task OnInitializedAsync()
    {
        todos = await _todoClientService.GetTodosAsync();
    }
}