@page "/get-all-todos"

@inject ITodoClientService _todoClientService 
@attribute [Authorize]


<h3>Task Flow</h3>

@if (todos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="todo-container">
        @foreach (var todo in todos)
        {
            <div class="todo-card">
                <div class="todo-header">
                    <h5>@todo.Title</h5>

                    @if (todo.IsComplete)
                    {
                        <span class="badge complete">Completed</span>
                    }
                    else
                    {
                        <span class="badge pending">Pending</span>
                    }
                </div>

                <p>
                    @(string.IsNullOrWhiteSpace(todo.Description)
                        ? "No Description"
                        : todo.Description)
                </p>

                <small>
                    start 📅 @todo.StartDateTime.ToString("dd MMM yyyy")
                </small>
                <br/>
                <small>
                    end   📅 @todo.StartDateTime.ToString("dd MMM yyyy")
                </small>

            </div>
        }
    </div>
}

<style>
.todo-container{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    gap:20px;
}

.todo-card{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.todo-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.badge{
    padding:5px 10px;
    border-radius:15px;
    font-size:12px;
}

.complete{
    background:#d4edda;
    color:#155724;
}

.pending{
    background:#fff3cd;
    color:#856404;
}
</style>

@code {
private List<TodoDTO>? todos;

    protected override async Task OnInitializedAsync()
    {
        todos = await _todoClientService.GetTodosAsync();
    }
}
