@page "/login"

<h2> User Login </h2>

<h4> If you did't have an account you will create one by using Google Auth button </h4>

<div>
    <a href="http://localhost:5044/api/auth/login-google" class="inline-flex items-center rounded-md bg-red-600 px-4 py-2 text-sm font-medium text-white hover:bg-red-500 transition-colors">
       Google Auth
    </a>
</div>