@page "/login"

<h2> User Login </h2>

<h4> If you did't have an account you will create one by using Google Auth button </h4>

<div>
    <a href="http://localhost:5044/api/auth/login-google" class="btn btn-danger">
       Google Auth
    </a>
</div>