<div class="alert alert-danger m-5">
    <h3>Sorry your not authorized yet</h3>
    <p>Please craete an account or sign in</p>
    <a href="/login" class="btn btn-primary">Go to the Login Page</a>
</div>